body {
      background: linear-gradient(135deg, #e8f0f7, #d2e3f3);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0;
      padding: 40px;
    }


h1 {
      color: #245a24;
      font-size: 2em;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align: left;
      margin-bottom: 30px;
}

ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 250px;
}

li {
      margin-bottom: 15px;
}


a:hover {
      background-color: #245a24;
      color: white;
      transform: translateX(5px);
}

.trabajos {
    display: block;
    color: #145A32;
    text-align: center;
    background-color: #E8F5E9;
    padding: 20px;
    border: 4px solid #3E6B48;
    border-radius: 50px;
    margin-top: 25px;

}

footer{
      color: #145A32;
      text-align: right;
}