body {
      background: linear-gradient(135deg, #e8f0f7, #d2e3f3);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0;
      padding: 40px;
    }


h1 {
      color: #245a24;
      font-size: 2em;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align: left;
      margin-bottom: 30px;
}

ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 250px;
}

li {
      margin-bottom: 15px;
}


a:hover {
      background-color: #245a24;
      color: white;
      transform: translateX(5px);
}

.trabajos {
    display: block;
    text-align: center;
    padding: 15px 0;
    margin: 20px 0;
    background: #f7f1eb;
    border: 3px solid #bfbfbf;
    border-radius: 40px;
    color: #444;
    text-decoration: none;
    font-size: 16px;
}

.trabajos:hover {
    background: #a18974;
    border-color: #a8a8a8;
}


footer{
      color: #145A32;
      text-align: right;
}

.extra {
    display: block;
    color: #545454;
    text-align: center;
    background-color: #E9F9F4;
    padding: 20px;
    border: 4px solid #B3A69C;
    border-radius: 50px;
    margin-top: 25px;

}

.extra:hover {
    display: block;
    color: #545454;
    text-align: center;
    background-color: #DCEDEE;
    padding: 20px;
    border: 4px solid #8C8C8C;
    border-radius: 50px;
    margin-top: 25px;

}