body {
  font-family: 'Outfit', sans-serif;
  background-color: #f3e5d8;
  color: #5f564d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.container {
  background-color: #ffffff;
  max-width: 700px;
  border-radius: 24px;
}

.recipe-img {
  width: 90%;
  height: auto;
  display: block;
  padding-top: 30px;
  margin: 0 auto;
  border-radius: 30px;
}

.contenido {
  padding: 32px;
}

h1 {
  font-family: 'Young Serif', serif;
  color: #302d2c;
  font-size: 32px;
  margin-bottom: 16px;
}

.intro {
  font-size: 16px;
  line-height: 26px;
}

.prep-time {
  background-color: #fff5fa;
  border-radius: 16px;
  padding: 24px;
  margin-top: 32px;
}

.prep-time h3 {
  color: #7b284f;
  margin-bottom: 8px;
  font-size: 18px;
}

.prep-time ul {
  list-style: disc;
  padding-left: 24px;
  font-size: 15px;
  line-height: 24px;
}

h2 {
  color: #7b284f;
  margin-top: 32px;
  font-size: 24px;
}

ul, ol {
  margin-left: 24px;
  line-height: 28px;
  font-size: 15px;
}

.instructions li {
  margin-bottom: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

table td {
  padding: 12px 0;
  border-bottom: 1px solid #e3ddd7;
  font-size: 15px;
}

