body {
    background-color: #E9f5f8;
    padding: 35px;
}

h1{
    text-align: center;
    font-family:Verdana;
}

.inscripcion-form {
    width: 40%;
    padding: 10px;
    margin: 0 auto;
}

.bloque {
    border: 1px solid #000;
    margin-bottom: 20px;
    padding: 10px;
    
}

.acceso {
    background: #e2b290;
}

.documentos {
    background: #dbb0b0;
}

label {
    display: block;
    margin: 6px 0;
}

.botones {
    display: flex;
    gap: 10px;
}

button {
    padding: 5px 15px;
}

.menu {
    padding: 10px;
    background-color: #ccc;
    color: #000;
    text-decoration: none;
    border: 1px solid #888;
    border-radius: 5px;
    margin: 15px;
    display: block;
    width: 10%;
}

footer {
    text-align: right;
    color: #888;
    margin-top: 10px;
}