body {
    background-color: #E9f5f8;
    font-weight: 900;
    padding: 35px;
}

a:hover {
    text-decoration: none;
    color: #FF6F61;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    background-color: #004E7C;
    padding: 20px;
    margin: 0 auto;
    border: 4px solid #FF6F61;
    border-radius: 50px;
    margin-bottom: 20px;

}

h2 {
    text-align: center;
    color: #FF6F61;
    background-color: #004E7C;
    padding: 12px;
    margin: 0 auto;
    border: 4px solid #FF6F61;
    border-radius: 50px;
    width: 50%;
    margin-top: 30px;
    

}

h2:hover {
    text-decoration: none;

}


h1:hover {
    background-color: #FF6F61;
    color: #FFFFFF;
    border: 4px solid #004E7C;
    text-decoration: underline;
    font-style: italic;
}

h3 {
    color: #FF6F61;
    text-decoration: none;
    text-decoration: underline;
}

p {
    text-align: center;
    font-weight: bold;
    color: #333333;
}


div {
    text-align: center;
}

.peces {
    height: 300px;
    width: 300px;
    display: block;
    margin: 0 auto;
}

.salmon {
    height: 300px;
    width: 350px;
    display: block;
    margin: 0 auto;

}

.ceviche {
    height: 250px;
    width: 400px;
    display: block;
    margin: 0 auto;
}

.taco {
    height: 250px;
    width: 450px;
    display: block;
    margin: 0 auto;
}

.menu {
    display: block;
    background-color: #004E7C;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 50px;
    margin-top: 30px;
    width: 15%;
    border: 4px solid #FF6F61;
    text-align: center;

}

.descarga {
    display: block;
    background-color: #004E7C;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 50px;
    margin-top: 30px;
    width: 25%;
    border: 4px solid #F2D8A7;
    text-align: center;
}

footer {
    text-align: right;
    color: #FF6F61;
    margin-top: 10px;
}

.formulario-reserva {
    margin: 30px auto;
    display: block;
    justify-content: center;
}

.tablareserva {
    border-collapse: separate;
    border-spacing: 0 12px;  
}

.tablareserva td {
    padding: 5px 15px;
}

.tablareserva label {
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 4px;
    color: #eae7e7;
}

.tablareserva input[type="text"],
.tablareserva input[type="email"],
.tablareserva input[type="number"],
.tablareserva input[type="date"],
.tablareserva input[type="time"] {
    width: 90%;
    padding: 6px 8px;
    font-size: 15px;
    border: 1px solid #999;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
}

#mensaje {
    width: 95%;
}

form {
    display: block;
    width: 75%;    
    margin: 0 auto;
}

.tablareserva {
    border-collapse: separate;
    border-spacing: 0 12px;
    border: 4px solid #FF6F61; 
    border-radius: 20px;       
    overflow: hidden;           
    background-color: #004E7C; 
    color: #FFFFFF;             
    margin: 20px auto;          
}

.tablareseña {
    border-collapse: separate;
    border-spacing: 0 12px;
    border: 4px solid #FF6F61; 
    border-radius: 20px;       
    overflow: hidden;           
    background-color: #004E7C; 
    color: #FFFFFF;             
    margin: 20px auto;          
}

.tablaopi {
    border-collapse: separate;
    border-spacing: 0 12px;
    border: 4px solid #FF6F61; 
    border-radius: 20px;       
    overflow: hidden;           
    background-color: #004E7C; 
    color: #FFFFFF;             
    margin: 20px auto;  
    width: 0 auto;
    text-align: center;   
}

.reservaymenu {
    width: 80%;
    margin: 20px auto;           
    border-collapse: separate;   
    border-spacing: 20px;        
    text-align: center;
}

.reservaymenu th {
    background-color: transparent; 
    padding: 0;                   
}

.reservaymenu a.menu,
.reservaymenu a.reserva,
.reservaymenu a.opinion {
    display: inline-block;
    padding: 10px 20px;        
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;          
    border: 3px solid #FF6F61;    
    background-color: #004E7C;    
    transition: all 0.3s ease;
}