body {
    background-color: #E9f5f8;
    font-weight: 900;
    padding: 35px;
}

a:hover {
    text-decoration: none;
    color: #FF6F61;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    background-color: #004E7C;
    padding: 20px;
    margin: 0 auto;
    border: 4px solid #FF6F61;
    border-radius: 50px;
    margin-bottom: 20px;

}

h2 {
    text-align: center;
    color: #FF6F61;
    background-color: #004E7C;
    padding: 12px;
    margin: 0 auto;
    border: 4px solid #FF6F61;
    border-radius: 50px;
    width: 50%;
    margin-top: 30px;
    

}

h2:hover {
    text-decoration: none;

}


h1:hover {
    background-color: #FF6F61;
    color: #FFFFFF;
    border: 4px solid #004E7C;
    text-decoration: underline;
    font-style: italic;
}

h3 {
    color: #FF6F61;
    text-decoration: none;
    text-decoration: underline;
}

p {
    text-align: center;
    font-weight: bold;
    color: #333333;
}


div {
    text-align: center;
}

.peces {
    height: 300px;
    width: 300px;
    display: block;
    margin: 0 auto;
}

.salmon {
    height: 300px;
    width: 350px;
    display: block;
    margin: 0 auto;

}

.ceviche {
    height: 250px;
    width: 400px;
    display: block;
    margin: 0 auto;
}

.taco {
    height: 250px;
    width: 450px;
    display: block;
    margin: 0 auto;
}

.menu {
    display: block;
    background-color: #004E7C;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 50px;
    margin-top: 30px;
    width: 15%;
    border: 4px solid #FF6F61;
    text-align: center;

}

.descarga {
    display: block;
    background-color: #004E7C;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 50px;
    margin-top: 30px;
    width: 25%;
    border: 4px solid #F2D8A7;
    text-align: center;
}

footer {
    text-align: right;
    color: #FF6F61;
    margin-top: 10px;
}