body {
    background: #f0e3cc;
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
    margin: 0 auto;
    color: #76653a;
    width: 70%;
    font-style: italic;
}

.form-club {
    width: 60%;
    margin: 20px auto;
}

.titulo {
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}

.titulo span {
    font-size: 22px;
    color: #5a3d00;
}

.bloque {
    background: #c49b55;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    margin-bottom: 30px;
}

legend {
    font-weight: bold;
    text-align: right;
    font-size: 14px;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="text"],
input[type="email"],
select,
textarea {
    margin-left: 10px;
    padding: 5px;
    width: 250px;
}

.lista {
    width: 150px;
    margin-left: 15px;
}

.fila {
    display: flex;
    gap: 20px;
    margin-left: 10px;
}

.botones-final {
    text-align: center;
    margin-top: 20px;
}

button {
    background: #5a4d2c;
    color: white;
    border: none;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 20px;
    width: 140px;
    cursor: pointer;
}

button.cancelar {
    background: #4b3a1d;
}

button:hover {
    background: #76653a;
}

footer {
    text-align: right;
    color: #888;
    margin-top: 10px;
}

.menu {
    padding: 10px;
    background-color: #c49b55;
    color: #000;
    text-decoration: none;
    border: 1px solid #888;
    border-radius: 5px;
    margin: 15px;
    display: block;
    width: 10%;
}